.cardwine {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
  min-height: 100%;
  width: 80%;
}
.card {   display: flex;
    flex-direction: column;
    align-items: center
    
}

.textCard {
 width: 75%;
}

.textCard > div {
  margin: 2%;
  width: 100%;
  margin-top: 5%;
  }

.textCard > div > p{
  line-height: 1em;
 
 }

img {  
  width: 70px;
  height: auto;
  padding: 10px;
}

.likesContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

button {
  border: none;
  background-color: white;
 
}

p {
  font-size: 0.8em;
}

.contenedorButton {
  width: 100%;
  margin-top: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.buttonVer {
  padding-top: 5px;
  background-color: black;
  color: white;
  border-radius:4px;
  width: 100%;
}